
* {
  animation: rainbow 7.5s linear;
  animation-iteration-count: infinite;
}

.rainbow-fast {
  animation: rainbow 1s linear infinite !important; 
}

body {
	overflow-x: hidden;
}

body:has(dialog[open]) {
	overflow: hidden;
}

@keyframes rainbow {
	100%,0%{
		color: rgb(255,0,0) !important;
	}
	8%{
		color: rgb(255,127,0) !important;
	}
	16%{
		color: rgb(255,255,0) !important;
	}
	25%{
		color: rgb(127,255,0) !important;
	}
	33%{
		color: rgb(0,255,0) !important;
	}
	41%{
		color: rgb(0,255,127) !important;
	}
	50%{
		color: rgb(0,255,255) !important;
	}
	58%{
		color: rgb(0,127,255) !important;
	}
	66%{
		color: rgb(0,0,255) !important;
	}
	75%{
		color: rgb(127,0,255) !important;
	}
	83%{
		color: rgb(255,0,255) !important;
	}
	91%{
		color: rgb(255,0,127) !important;
	}
}

body:has(dialog[open]) {
	overflow: hidden;
}

@keyframes rainbow {
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Papyrus';
}

dialog {
	text-align: center;
	align-items: center;
	flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
	z-index: 10000;

	p {
		font-size: 2rem;
	}

}

.schumer-hero {
	/* transform: rotate(180deg) scaleX(-1); */
}

.download-buttons {
	display: flex;
	justify-content: center;
	gap: 2em;
	flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
	.download-buttons {
		gap: 2em;
		margin: 2em 0;
	}

	.download-buttons button {
		margin: 0;
	}
}
